
    {% extends 'html/index.html' %}
    {% block content %}
        <h1>Movies Information</h1>
        {%if movie_list%}
            <table class="table table-hover">
                <thead>
                    <th>Released Date</th>
                    <th>Movies Name</th>
                    <th>Hero</th>
                    <th>Heroine</th>
                    <th>Rating</th>
                </thead>
                {%for movie in movie_list %}
                <tr>
                    <td>{{movie.rdate}}</td>
                    <td>{{movie.moviename}}</td>
                    <td>{{movie.hero}}</td>
                    <td>{{movie.herione}}</td>
                    <td>{{movie.rating}}</td>
                </tr>
                {%endfor%}
            </table>
        {%else%}
            <p>No Movies Found</p>
        {%endif%}
    {% endblock %}
